:root{
    --bg-color: #70939D;
    --wel-section: #184755;
    --text-color: #062F3A;
    --tile-color: #2B5D6C;
}
body{
    
    font-family: 'DM Sans', sans-serif;
    margin: 0px;
}

.icon-shown{
    color: var(--text-color);
    font-size: 40pt;
    height: 80px;
    text-decoration: none;
    width: 120px;    
}

.icon-not-shown{
    color: var(--text-color);
    font-size: large;
    height: 80px;
    text-align: center;
    text-decoration: none;
    width: 120px; 
}

.no-margin{
    margin: 0px;
}

.bottom-margin{
    margin-bottom: 10px;
}

.project-tile{
    background-color: var(--tile-color);
    border-radius: 20px;
    border-style: inset;
    height: 250px;
    margin: 10px;
    margin-top:-140px;
    text-align: center;
    width: 440px;
}

.project-tile img{
    border-radius: 6px;
    height: 73%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    width: auto;
}

.project-tile h3, a{
    margin: 0px;
}

.reach-me{
    color: var(--text-color);
    text-decoration: none;
}



#about{
    background-color: var(--tile-color);
    font-size: large;
    padding: 20px;
}

#contact{
    justify-content: space-around;
    background: var(--tile-color);
    border-radius: 5px;
    color: var(--text-color);
    display: flex;
    font-size: 40pt;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    width: 40%;
}

#contact div{
    margin: 10px;
}


#navbar{
    background-color: var(--bg-color);
    position: fixed;
    right: 0px;
    
    top: 0;
    
    z-index:3;
    
}

#navline{
    background-color: var(--bg-color);
    
    height: 40px;
    position: fixed;
    top: -2px;
    width: 100%;
    z-index: 3;
}

#nav-list{
    display: flex;
    left: 750px;
    list-style-type: none;
    margin: 7px;
    

}

#nav-list a{
    border-bottom-color: #062F3A;
    border-radius: 4px;
    border-bottom-style: groove;
    color: #062F3A;
    font-size: large;
    font-weight: bold;
    margin-right: 15px;
    padding: 5px;
    text-decoration: none;
}

#nav-list a:hover{
    background-color: #062F3A ;
    color:  #70939D;
}

#projects{
    display: grid;
    grid-template-areas:
    "header header header"
    "proj1 proj2 proj3"
    "proj4 proj5 proj6";
    height: 600px;
    width: 100%;
}

#projects-title{
    color: var(--text-color);
    grid-area: header;
    font-size: x-large;
    height: 50px;
    margin: 0px;
    text-align: center;
    font-weight: bold;
    width: 100%;
}

#project-1{
    grid-area: proj1;
}

#project-2{
    grid-area: proj2;
}

#project-3{
    grid-area: proj3;
}

#welcome-section{
    background-color:#184755;
    height: 90vh;
    position: relative;
    text-align: center;
    top: -10px;
        
}

#welcome-section h1{
    color: #70939D;
    position: relative;
    font-size: 40pt;
    top: 40%;
}
#welcome-section h3{
    color: #70939D;
    font-size: 22pt;
    position: relative;
    top: 33%;
}

@media (max-width: 800px){
    #welcome-section{
        height: 40vh;
    }

    #projects{
        display: flex;
        flex-direction: column;
        height: 900px;
    }

    #contact{
        width: 85%;
    }

    .project-tile{
        margin-top:10px;
        
    }
}